.header {
  // :global {
  //   .ant-row {
  //       padding: 0 0 !important;
  //   }
  // }
  // border: 1px solid #eee;
  @media screen and (min-width: 768px) {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  padding: 30px 0;
  // background: #eee;
  // box-shadow: 0px 3px 10px #ccc;
  // margin-bottom: 20px;
  // ====================================
  // display: flex;//=======//==========
  // justify-content: space-around;//============//===========
  // ====================================
  background: linear-gradient(-10deg, yellow, red , black);
  // background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  // ====================================
  position: fixed;
  width: 100vw;
  z-index: 1000;
}
